.top{
    width: 200px;
    height: 50px;
    background: limegreen;
    border-top: 5px double darkgreen;
    border-left: 5px solid darkgreen;
    border-right: 5px solid darkgreen;
    border-bottom: 5px dashed darkgreen;
    margin-top: 100px;
    margin-left: 100px;
}

.bottom{
    width: 150px;
    height: 200px;
    background: limegreen;
    border-left: 5px solid darkgreen;
    border-right: 5px solid darkgreen;
    border-bottom: 5px solid darkgreen;
    margin-left: 125px;
}