html {
    background: skyblue;
	}
body { 
    width:1200px;
	background: #3D5BA0;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
	}

p { 
    font-family: serif;
    font-style: normal;
    font-size: 1em;
	text-align: justify;
    line-height: 2em;
    color: #fff;
	}

a:link { 
	font-family: serif;
    font-style: normal;
    font-size: 1.5em;
    line-height: 2em;
	color: #fff;
    text-decoration: none;
	}

a:visited{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color:#ff0;
}

a:active{
    color:#fff;
}


header {
    font-family: serif;
    font-style: italic;
    text-align: center;
    background-image: url("thHS85YINB.jpg");
    background-size: cover;
    border-radius: 8px;
}

header h1{ 
    color:#fff;    
    text-shadow: 2px 2px black;
    font-size: 6em;
    padding: 0px;
    margin: 0px;
}
header h2{
    font-size: 3em;
    text-shadow: 1px 1px black;
    color: #B31970;
    padding:0px;
    margin: 0px;
}

.menu{
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background-color: #112A64;
    text-align: center;
}

td.menu:hover{
    background-color: #3D5BA0;
}


.menu a{
    font-family: serif;
    font-weight: 900;
    font-style: italic;
    font-size: 1em;    
}

.menu a:link{
    color:#EFB84A;
    font-size: 1.5em;
    text-decoration: none;
}

.menu a:visited{
    color: #EFB84A;
    text-decoration: none;
}
.menu a:hover{
    color: #FFE0A1;
}

.menu a:active{
    color:#EFB84A;
}




#tb1{
    width: 800px;
    text-align: center;
}


.summary p{
    font-family: serif;
    font-style: italic;
    font-size: 1.5em;
    line-height: 0.8em;
    color: #F6F99F;
	text-align: center;
	}


.main {
    display: inline-block;
    width: 800px;
    border-radius: 8px;
    margin: 0px 10px;
}

.sidebar {
    display: inline-block;
    width: 365px;
    position: relative;
    top: -88px;
}

.sidebar *{
    text-align: center
}

.main h1{
    font-family: serif;
    font-style: normal;
    text-shadow: 1px 1px black;
    color: #fff;
    background-color: #D35DA0;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
	}



.sidebar h1{
    font-family: serif;
    font-style: normal;
    text-shadow: 1px 1px black;    
    color: #fff;
    background-color: #94D01D;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
	}

ul {
    list-style-type: none;
}